{% extends 'base.html' %}
{% block title %}
{% endblock %}
代辦事項
{% block content %}

{{user.username}}
{{user.email}}
<h1>代辦事項</h1>
<hr>
{% if not todos %}
<h2 style="color: red;">請先登錄或註冊<a href="{% url 'login' %}">Login</a></h2>
{% endif %}


{{todo}}
<br>
{% for todo in todos %}
<small>


    <h2>
        <a href="{% url 'viewtodo' todo.id %}">{{todo.title}}</a>
        {% if todo.important %}
        <span style="color: red;">重要</span>
        {% endif %}
    </h2>

    {% if todo.text %}
    <li>{{todo.text|linebreaks }}</li>
    {% endif %}



    {% if todo.date_completed %}
    {{todo.date_completed}}
    {% endif %}

    <p>
        <a href="{% url 'deletetodo' todo.id %}" onclick="return confirm('確認是否刪除')">delete</a>
    </p>

    <hr style="width: 50%;">
    {% endfor %}
    {% endblock %}